@media only screen and (min-width:1024px){

    main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    
    }

    #FittsLaw{
    height: fit-content;
    margin: 0 auto;
    margin-left: 10px;
    }

    #Repetition{
    height: fit-content;
    margin: 0 auto;
    }

   #WhiteSpace{
   height:fit-content;
   margin: 0 auto;
   margin-right: 20px;
   
   }

   h2{
    font-size: 35px;
   }

   b{
    font-size: 38px;
   }
   
   #bottom_grid{
    grid-template-columns: 10% 3fr 10%;
   }

   footer{
    margin-top: 20px;
    margin-right: 20px;
   }

   p{
    line-height: 30px;
   }

   #Nike{
  
  padding-left: 10px;
  margin-left: 20px;
   }
   
   #DropBox{
    padding-left: 10px;
    margin-left: 20px;
   }
   #Hotjar{
    margin-left: 20px;
   }


} 