body {
  display: grid;
  height: 100vh;
  grid-template: auto 10% 1fr auto / 300px 300px 2fr auto;
}

header {
  background: lightpink;
  padding: 2rem;
  grid-column: 1 / span 4;
}

nav {
  background: lightblue;
  grid-column: 1 / span 4;
  grid-row: 2 / 3;
}

main {
  background: coral;
  grid-column: 1 / span 3;
}

.right-sidebar {
  background: yellow;
  grid-column: 4 / 5;
  padding: 1rem;
}

footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / span 4;
}

