* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#content{
	display:grid;
	grid-template-columns: 1fr;
}

h1 h2 h4{
	font-family: 'Roboto', sans-serif;
}

header{
	background-color: #219ebc;
	margin-top: -29px;
}

header #name{
	font-family: 'Roboto',sans-serif;
	padding-top: 5%;
	font-size: 2rem;
	margin: 0px auto;
	margin-left: 15px;
	margin-top: 8px;
}

.logo{
	width: 140px;
	height: 80px;
	margin-left: 15px;
}

img{
	width: 100%;
	height: auto;
}

#hero-img{
	opacity: 1;
}

#hero-box{
	position:relative;
	text-align: center;
	color:#023047;
		
}

.home-title{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 6rem;
	font-family: 'Alegreya Sans',sans-serif;
}

nav {
	font-family: 'Roboto',sans-serif;
	margin: 1rem auto;
}

.button-box{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5rem;
	text-align: center;
	border: 10px solid #ffb703;
	background-color: #ffb703;
	border-radius: 12px;
	box-shadow: 5px 5px 3px gray;
}

.button{
	text-align: center;
	font-family: 'Roboto',sans-serif;
}

.home{
	
	background-color: #023047;
	margin-top: -10px;
}

#spotlight {
	background-color: #023047;
	text-align: center;
	color: white;
	padding:20px;
	font-size: 2rem;
}

#A4, #hospital, #hotel{

	width: 100%;
	max-width: 250px;
	align-items: center;
	text-align: center;
	border: 10px solid black;
	border-radius: 12px;
	margin:10px auto; 
	padding:20px;
	background-color: #219ebc;
	color:black;
	box-shadow: 5px 5px 3px grey;
} 
.weather-card {
	color: black;
	border: 10px solid black;
	display:flex;
	flex-direction: column;
	background-color: #219ebc;
	margin: 10px;

}

#community{
	color: black;
	border: 10px solid black;
	margin:10px;
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: #219ebc;

}

.weather-img{
	width:30%;
	margin:0 auto;
}

.weather-card h3{
	margin: 0 auto;
	font-size: 2rem;

}
.weather-card p{
	margin: 0 auto;
	font-size: 2rem;
}

#community h3{
	margin: 0 auto;
	font-size: 2rem;
}

footer{
	background-color: #219ebc;
}

.footer{
	text-align: center;
}

/* Hamurger Menu small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #023047;
	color: #fff;
	font-size: 130%;
	margin-bottom: -20px;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	
	background-color: white;
	margin-right: .5rem;
}

/*discover page */
.events{
	border:10px solid black;
	
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	align-items: center;
	text-align: center;
	border-radius: 12px;
	margin:0px auto; 
	padding:28px;
	box-shadow: 5px 5px 3px grey;
	font-family: 'Roboto', sans-serif;
	

}
.sidebar{
	margin:20px;
}

.month {
	padding: 70px 25px;
	width: 100%;
	background: #219ebc;
	text-align: center;
	
  }

  .month ul {
	margin: 0;
	padding: 0;
  }
  
  .month ul li {
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
  }

  .weekdays {
	margin: 0;
	padding: 10px 0;
	background-color:#ddd;
	
  }
  
  .weekdays li {
	display: inline-block;
	width: 13.6%;
	color: #666;
	text-align: center;
  }

  .days {
	padding: 10px 0;
	background: #eee;
	margin: 0;
	
  }
  
  .days li {
	list-style-type: none;
	display: inline-block;
	width: 13.6%;
	text-align: center;
	margin-bottom: 5px;
	font-size:12px;
	color: #777;
  }

  .demographics{
	border:10px solid black;
	margin:10px;
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	align-items: center;
	text-align: center;
	border-radius: 12px;
	margin:10px auto; 
	padding:20px;
	box-shadow: 5px 5px 3px grey;
	font-family: "Alegreya Sans", sans-serif;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 10px;
  }
.hero picture{
	
	width: 100%;
}

.hero img{
	width: 100%;
	height: auto;
}



 