@media (min-width: 37.5em) {
	
	#menu {
		display: none; 
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	header h1{
		text-align: center;
	}
	
	#button-box{
		font-size: 50px;
	}
	
	#content{
		grid-template-columns: 1fr 1fr 1fr;
	}
	header{
		grid-column: 1/span 3;
	}
	#hero{
		grid-column: 1/span 3;
	}
	
	.home{
		grid-column: 1/span 3;
	}
	#companies{
		grid-column: 1/span 3;
		display:flex;
		flex-wrap:wrap;
		margin:20px auto;
		align-items: center;
	}

.hero{
	margin-top: 20px;
}
main{
	grid-column-end:span 2;

}
.visits{
	margin-top: 300px;
	margin-bottom:400px;
}
.events{
	margin-top: 100px;
	margin-bottom: 500px;
}
.demographics{
	margin-top: 200px;
	
}

 .hero img:hover {box-shadow: 0 0 50px #333;}
	

}
