@media (min-width: 37.5em) {
	
	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	header h1{
		text-align: center;
	}
	
	#button-box{
		font-size: 50px;
	}
}
