@media (min-width: 37.5em) {
	
	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	header h1{
		text-align: center;
	}
	
	#button-box{
		font-size: 50px;
	}
	
	#content{
		grid-template-columns: 1fr 1fr 1fr;
	}
	header{
		grid-column: 1/span 3;
	}
	#hero{
		grid-column: 1/span 3;
	}
	
	.home{
		grid-column: 1/span 3;
	}
	#companies{
		grid-column: 1/span 3;
		display:flex;
		flex-wrap:wrap;
		margin:20px auto;
		align-items: center;
	}

.hero{
	margin-top: 20px;
}

main .hero picture{
	grid-column: 2 / 4;

}
 .hover:hover{
	mix-blend-mode: difference;
}


	
	
		

}
