header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(54, 54, 87);
  color: black;
  font-size: 22px;
}
h1 {
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background: black;
  color: white;
  font-size: 1.5em;
}
nav a:hover {
  color: black;
  background-color: burlywood;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto;
}

h2 {
  border-bottom: 1px solid black;
  margin: 35px;
}
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px;
  margin: 35px;
}
h3 {
  align-items: center;
  margin: 0;
  background-color: rgb(54, 54, 87);
  text-align: center;
}
p {
  margin: 0 auto;
}
footer {
  margin: auto;
  margin-top: 10px;
  background-color: rgb(54, 54, 87);
  color: whitesmoke;
  text-align: center;
}
