body{
  font-family: 'Mooli', sans-serif;
}

header {
 
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #8D99AE;
  
}

img{
  height: auto;
  
   box-shadow: 5px 5px 5px 5px gray;
} 

h1 {
  font-size: 2em;
  color: #2B2D42;
  
  margin-left: 20px;
  text-align: center; 
}

nav {
  display:flex;
  flex-direction: column;
  padding: 1rem;
  background: black;
}

nav a{
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  color:#F8F32B;
}

nav a:hover {
  color: black;
  background-color: #F8F32B;
}

main {
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto  auto;
}

h2 {
  border-bottom: 1px solid black;
  margin: 35px;
  font-size: 1em;
  
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px 5px;
  margin: 35px;
}

h3 {
  align-items: center;
  margin: 0;
  background-color: #2B2D42;
  text-align: center;
  color: white;
}

h5{
  display: inline-block;
}

p {
  margin: 0 auto;
}

footer {
  margin: auto;
  margin-top: 10px;
  background-color: #8D99AE;
  color: #2B2D42;
  text-align: center;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #023047;
	color: #fff;
}
.navigation li {
	display: none;
}
.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.active::before {
	content: "📍 ";
	background-color: white;
	margin-right: .5rem;
}

#temple{
  width:100%;
  height: auto;
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

#temple {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
 
	position: absolute;
	top: 400px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	
}

.herolabel p {
  font-family: 'Great Vibes', cursive;
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1rem;
	
}
 h4{
  margin: 0 auto;
 }

#weather {
  margin: 0 auto;
  padding: 10px;
}
#weather img{
  box-shadow: none;
  margin-left:35px;
}
.card h4{
  margin-top: 20px;
}