:root{
    --blue:#445b89;
    --dblue:navy;
    --r:red;
}
   
form{
    order:0;
}
div{
    order:1;
}
form fieldset{
    margin: 2rem 0;
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: .5rem 2%;
    margin-left: 40px;
}

form legend{
    color: var(--blue);
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label{
    display:block;
    padding-top: 1rem;
    font-size: .8rem;
}
#range {
	width: 200px;
	margin-bottom: 0;
}

#rangevalue {
	font-size: 2rem;
	color: var(--dblue);
}

#rangevalues {
	display: flex;
	margin: 0 0 0 2px;
   
	 width: 200px;
}

 #rangevalues option {
	flex: 1 1 auto;
} 

.top, .password, #repassword{
    color: var(--r);
   
}
.password input:valid{
   background-color:  green;
}
.password input:invalid{
   background-color: var(--r);
}
input:focus{
    outline:none;
}
#repassword :invalid{
    background-color: var(--r);
    animation: shaketext 500ms;
}

.submitBtn{
    margin-left: 280px;
    border-radius: 20px;
    box-shadow: 5px 5px;
}
