@media screen and (min-width: 500px) {
   main{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

  #temple img{
    max-width: 100%;
    height:auto;
   }

   h1{
  font-size: 400%;
   }

   h2{
     grid-column:1 / span 3;
     font-size: 2em;
   }
   
   h3{
     grid-column: 2/ span 4;
   }
   
   nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    background: black;
  }
  .navigation{
    grid-column: 1/span 4;
  }
  #mode {
    position: absolute;
    top: 1rem;
    right: 4rem;
    font-size: 3rem;
    cursor: pointer;
  }

  .hero-image {
    grid-column: 1/span 2;
  }

  .herolabel {
 
    position: absolute;
    top: 550px;
    left: 30px;
  }

  
.herolabel p {
  font-size: 2rem;
}
iframe{
  width:100%;
}
  
}