@media only screen and (min-width:32.5em) {
    header, footer{      
        margin-left: 200px;
        margin-right: 200px;   
    }
    
    #name{
       
        font-size: 3rem;
        text-shadow: 3px 4px  darkblue;
        margin-left: 20px;
    } 

    #portal{
        
        font-size: 35px;
        margin-top: -30px;
    } 

    img{
        margin-top: 2px;
        float: left;
        margin-left: 50px;   
    } 

    main{
        margin-left: 300px;
        margin-right: 300px;
    }

    hr{
        margin-top: -30px; 
    }

     ul{
        font-size: 25px;
    } 
    div{
        font-size: 18px;
    }
    
    
}