@media only screen and (min-width:850px) {
    header, footer{      
        margin: auto;
        margin-top: 10px;
    }
    
    #name{
       
        font-size: 3rem;
        text-shadow: 3px 4px  darkblue;
       
    } 

    #portal{
       
        font-size: 35px;
        margin-top: -30px;
    } 

    img{
        margin-top: 2px;
        float: left;
        margin-left: 50px;   
    } 
    main{
        margin-top: 25px;
    }

    hr{
        margin-top: -30px; 
    }

     ul{
        font-size: 25px;
    } 
    div{
        font-size: 18px;
    }
    
    
}