
body{
 font-size: 16px;
 line-height: 1.5;
 height: 100%;
}

header, nav, main, footer{
    margin: 0 auto; 
    padding: .75rem;
    max-width: 45rem;    
}

header, footer{
    display:flex;    
    box-shadow: 0 10px 10px 0 gray;
    background-color: rgb(61, 99, 172);
    color:antiquewhite;
    font-family: 'Playfair Display', serif;
    text-align: center ;
    text-shadow: 1px 5px darkblue;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
}

 footer{
    text-shadow: 1px 2px darkblue;
 } 

 #name{
    font-size: 2rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin:0 auto;
    padding-top: 3rem;     
} 

 img{
    
    border: 1px  grey;
    box-shadow: 0 5px 9px 0px darkblue;
    padding: 2px;
} 

 #portal{
    font-family: 'Playfair Display', serif;;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    text-shadow: 0px 5px 9px gray;
} 



hr{
    
    margin-left: 20px;
    margin-right: 20px;
}  

div{ 
    font-size: 12px;  
    margin:0 auto; 
    padding: .5rem;
   
}   
